.box {
    font-size: 25px;
    width: 30vw;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container1 {
    background-color: rgb(213, 245, 245);
}

#container2 {
    background-color: rgb(216, 184, 246);
}

#container3 {
    background-color: rgb(163, 163, 240);
}

ul {
    list-style: none;
}

#resoult {
    font-size: 35px;
    margin-left: 30%;
}

textarea {
    max-height: 20px;
    max-width: 100px;
    font-size: 18px;
    border-radius: 7px;
}

h2 {
    margin-left: 25%;
}

p {
    margin-left: 25%;
    font-weight: 600;
}